.root {
  display: flex;
  align-items: center;
  gap: var(--mk-space-2);
  font-family: var(--mk-font-family-sans);
  font-size: var(--mk-font-size-sm);
  line-height: var(--mk-line-height-normal);
  color: var(--mk-color-text);
}

.input {
  display: none;
}

.names {
  color: var(--mk-color-text);
}
